<div id="" class="flex flex-col justify-center">
    <div class="flex justify-center">
        <img src="assets/img/labor.jpg" class="back_img">
    </div>

    <div class="markers">


        <div class="hotspot w-10" style="left:20.8%;top:46%;" title="Entrance Area">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

        <div class="hotspot" style="left:42%;top:100%;" title="Water Bath">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

        <div class="hotspot" style="left:47%;top:42%;" title="Microscope">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

        <div class="hotspot" style="left:59%;top:43%;" title="CO2 Incubator">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

        <div class="hotspot" style="left:75%;top:43%;" title="Biosafety Cabinet">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

        <div class="hotspot" style="left:85%;top:44%;" title="Centrifuge">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

        <div class="hotspot" style="left:91%;top:35.5%;" title="Window">
            <img src="assets/img/point.png" class="hotspotImg">
        </div>

    </div>
</div>