<div class="flex flex-col items-center">

    <h1 class='mt-8 text-2xl'>{{data.text_p1}}</h1>

    <div class=" flex justify-center gap-4 mt-8 ">
        <div cdkDropList class="example-list flex flex-col items-center" (cdkDropListDropped)="drop($event)">
            <div class="example-box " *ngFor="let item of data.choices" cdkDrag>
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                {{item.answer}}
            </div>
        </div>
        <div *ngIf="data.isPictureIllustration" class="self-start">
            <img *ngFor="let imgUrl of data.illustrationPicturesUrls" [src]='imgUrl' class="w-full rounded-sm">
          </div>
    </div>

    <div *ngIf="orderChecked box-border">
        <div *ngIf="badOrder"
            class="bg-red-300 border border-red-400 flex justify-center p-4 rounded-md mt-4 box-border">
            <p>
                {{data.badAnswerText}}
            </p>
        </div>

        <div *ngIf="goodOrder" class="flex-col ">
            <div class="bg-green-300 border border-green-400 flex justify-center p-4 rounded-md mt-4 box-border">
                <p>{{data.goodAnswerText}}</p>
            </div>


        </div>

    </div>

    <button (click)="checkOrder()"
        class="mt-6 self-center  flex items-start-start justify-start px-6 py-3 font-medium text-white bg-raldeblue-400 hover:bg-gray-200 hover:text-gray-600 rounded">Check
        answer</button>

</div>
