<div class="flex flex-col justify-center items-center">
    <h1 class="text-6xl font-extrabold text-raldeblue-800 mb-2">
        You seem to be lost
    </h1>
    <img src="/assets/img/lost.gif" width="30%" height="30%"  class="giphy-embed" />
    <a routerLink="" class="mt-4 inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-raldemint-900 border border-transparent rounded-md shadow-sm hover:bg-raldemint-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">Get me back to home</a>
</div>


