<!--<app-interac></app-interac>-->
<h2 *ngIf="data.h2"
  class="text-2xl font-semibold text-raldeblue-900 py-2 shadow-sm w-fit bg-slate-100 mb-2 px-2 rounded-md border-2 border-raldeblue-800">
  {{data.h2}}</h2>
<div id="" class="img_back_marker">

    <img [src]="data.img_url" class="back_img">



    <div *ngFor="let marker of data.markers, let i = index" class="hotspot" [style.left.%]="marker.x_pos" id={{i}}
        [style.top.%]="marker.y_pos" [title]="marker.title" (click)="onSpotClick($event, marker.isCorrect)">
       <!--<span class="text_spot" id={{i}}>{{marker.title}}</span>--> 
        <div id="{{'marker_'+i}}" class="hotspotImg rounded-full bg-blue-500"></div>
        
    </div>

    <div *ngIf="show_tips_false" class="tip_container border-2 bg-red-200 border-red-400  px-10 py-2  rounded-sm">
        <p class="text-gray-700 text-base">
            {{answer_text_false}}
        </p>
    </div>
    <div *ngIf="show_tips_true" class="">
        <div *ngIf="data.goodAnswerImgUrl" class="good_answer_img">
            <img [src]="data.goodAnswerImgUrl" class="w-96 shadow-xl border-2 border-sky-400 ">
        </div>
        <div class="tip_container border-2 bg-green-300 border-green-400 px-10 py-2 rounded-sm">
            <p class="text-gray-700 text-base">
                {{answer_text_true}}
            </p>
        </div>
    </div>

</div>


<div class="py-4">
    <div class="font-bold text-2xl mb-2">{{data.text_p1}}</div>
    <p class="text-gray-700 text-base">

    </p>

</div>
<div *ngIf='good_answer' href='' class="flex flex-col sm:flex-row sm:space-x-4 mb-2">
    <div (click)="onPreviousClick()"
        class="flex items-center px-6 py-3 font-medium text-white bg-raldeorange-700 hover:bg-raldeorange-300 hover:text-gray-600 rounded">
        previous
    </div>
    <div (click)="onNextClick()"
        class="flex items-center px-6 py-3 font-medium text-white bg-raldesurf-400 hover:bg-raldesurf-700 hover:text-gray-600 rounded">
        next
    </div>
</div>