  
  /*
  *  Position the #infoi element in the top-right
  *  of the .wrapper element
  */
  .hotspot {
    position: absolute;    
  }

  .text_spot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





.hotspot:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-play-state: running;
    cursor: pointer;
}

.hotspot {   
    animation-name: pulse_soft;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

@keyframes pulse_soft {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

.hotspotImg {
    height: 30px;
    width: 30px;    
  }

  .tip_container{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

  }




  .img_back_marker {
    margin: 0 auto;
    border:5px solid grey;
    position: relative;
    //display: inline-flex;
  
  }
  
  .img_back_marker img {
    max-width:100%;
    //display: block;
  }

  .img_cont{
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .other{
max-width:80%
  }