<div id="" class="img_back_marker">

    <img [src]="data.img_url" class="back_img">



    <div *ngFor="let marker of data.markers, let i = index" class="hotspot" [style.left.%]="marker.x_pos" id={{i}}
        [style.top.%]="marker.y_pos" [title]="marker.title" (click)="onSpotClick($event)">
        <div id="{{i}}" class="hotspotImg rounded-full bg-blue-500"></div>

    </div>


    <div *ngIf="show_tips" class="tip_container" @fade>
        <div class="border-2 bg-blue-200 border-blue-400 px-32 py-10 w-full rounded-sm relative">
            <div class="tip_close" (click)="onTipCloseClick()"></div>
            <h2 class="text-gray-700 text-2xl font bold">
                {{tipTitle}}
            </h2>
            <p>
                {{tipText}}
            </p>
        </div>
    </div>

</div>


<div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{data.text_p1}}</div>
    <p class="text-gray-700 text-base">
        {{data.text_p2}}
    </p>

</div>
<div *ngIf='show_next' href='' class="flex flex-col sm:flex-row sm:space-x-4 mb-2">
    <div
    (click)="onPreviousClick()"
        class="flex items-center px-6 py-3 font-medium text-white bg-raldeorange-700 hover:bg-raldeorange-300 hover:text-gray-600 rounded">
        previous
    </div>
    <div
    (click)="onNextClick()"
        class="flex items-center px-6 py-3 font-medium text-white bg-raldesurf-400 hover:bg-raldesurf-700 hover:text-gray-600 rounded">
        next
    </div>
</div>
