<!--<video controls #videoPlayer class="center mb-10">
        <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />

    </video>

    <iframe class="center" width="560" height="315" src="https://www.youtube.com/embed/7X8II6J-6mU" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>-->

<div class="flex justify-center">



  <div class="flex flex-col  bg-slate-100 p-4">

    <h1 class=' text-2xl mb-2'>{{data.text_p1}}</h1>


    <form [formGroup]="form" (ngSubmit)="checkOrder()" novalidate>
      <div class="flex">
        <div *ngFor="let answer of data.answers; let i=index" class="m-1">
          <div class="imgContainer">
          <img [src]='answer.img_url' class="">
        </div>
          <input type="checkbox" formArrayName="selectedAnswers" [value]="answer.isCorrect"
            (change)="onCheckboxChange($event)" />
          {{ answer.text}}
        </div>
      </div>
      <div class="flex">
        <button
          class="mt-6 self-center  flex items-start-start justify-start px-6 py-3 font-medium text-white bg-raldeblue-400 hover:bg-gray-200 hover:text-gray-600 rounded"
          type="submit">Check your answers</button>
          <div ng>

          </div>
      </div>
    </form>







  </div>

</div>