/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-material.css";

@import "ngx-easy-table/style.css";

$component_padding_bottom: 2.5rem;


.basic_component{
    display: flex;
    justify-content: center;
    width: 100%;
    //padding-bottom: 2.5rem;
}


.transition-slide{
    width: 50em;
    height: 25em;
}

hr.solid {
    border-top: 3px solid #bbb;
  }
  


@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
    
}
